{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <h2>women section</h2>
    <div class="row">

        {% for woman in women %}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    {{ woman.product_name }}
                </div>
                <img alt="Card image top" class="card-img-top" src="{{ woman.product_image.url }}">
                <!--                    <div class="card-body">-->
                <!--                        <p class="card-text">Colors:Grey</p>-->
                <!--                    </div>-->
                <div class="card-footer">
                    ₹{{ woman.product_price }}/-
                </div>
                <button class="btn mt-2" type="submit">
                    <a class="btn btn-primary" href="{% url 'detail' woman.id %}">View Product</a>
                </button>

            </div>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}